.Game {
  display: flex;
  flex-direction: column;
}

#game__board {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

#game__status {
  border: solid grey;
  background-color: #5cb85c;
  width: 150px;
  align-self: center;
}

#game__form {
  margin: 10px;
}

#moves {
  height: 500px;
  width: 500px;
  overflow: auto;
  margin-left: 10px;
  background-color: lightgrey;
  border: dashed black;
  text-align: start;
}

.btn {
  background-color: grey;
  color: black;
  border: solid black 1px;

}