.Square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

.Square.dark {
    background-color: black;
    color: white;
}
.Square.light {
    background-color: white;
    color: black;
}
.Square:focus {
    outline: none;
}